.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h1,
    h2 {
        color: #333333;
    }
    .order-details {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
        p {
            color: #666;
            line-height: 1.5;
        }
        strong {
            font-weight: bold;
        }
    }
}