<div class="contact-page">
    <div class="contact-info">
        <div class="contact-text-container">
            <h2>Contact Information</h2>
            <p><i class="material-icons inline-icon">push_pin</i> Unit 15, Hilsea Industrial Estate Limberline Spur, Portsmouth, PO3 5JW</p>
            <p><i class="material-icons inline-icon">mail</i> support@hellenicgrocery.co.uk</p>
            <p><i class="material-icons inline-icon">call</i> 023 9307 9735</p>
        </div>
        <div class="map-container">
            <iframe width="100%" height="300" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://maps.google.com/maps?q=Unit+15,+Hilsea+Industrial+Estate,+Limberline+Spur,+Hilsea,+Portsmouth+PO3+5JW&output=embed">
            </iframe>
        </div>
    </div>
    <div class="form-container">
        <h1>Contact Us</h1>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name*:</label>
                <input type="text" formControlName="name" required>
                <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
                    <div *ngIf="contactForm.get('name')?.errors!['required']">Name is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email*:</label>
                <input type="email" formControlName="email" required>
                <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
                    <div *ngIf="contactForm.get('email')?.errors!['required']">Email is required.</div>
                    <div *ngIf="contactForm.get('email')?.errors!['email']">Invalid email format.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Message*:</label>
                <textarea formControlName="message" rows="4" required></textarea>
                <div *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)">
                    <div *ngIf="contactForm.get('message')?.errors!['required']">Message is required.</div>
                </div>
            </div>
            <button type="submit" [disabled]="contactForm.invalid">Submit</button>
        </form>
    </div>
</div>