.contact-page {
    display: flex;
    margin-bottom: 10vw;
}

.contact-info {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #add8e6;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inline-icon {
    vertical-align: middle;
}

.contact-text-container {
    flex: 1;
    margin-bottom: 30px;
}

.map-container {
    flex: 2;
}

.map-container iframe {
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

.map-container iframe:focus {
    border-color: #007bff;
}

.contact-info h2 {
    margin: 10px 0 10px 0;
}

.contact-text-container p {
    margin: 10px 0 10px 0;
}

.form-group {
    margin: 15px auto 2px auto;
}

.form-container {
    flex: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #add8e6;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    padding: 20px;
}

.form-container h1 {
    margin: 10px 0 10px 0;
}

.form-container input,
.form-container textarea {
    font-family: inherit;
    line-height: inherit;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    /* width: 100%; */
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
}

.form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.errors {
    p {
        color: red;
        margin: 0px 0 15px 0;
    }
}


@media screen and (max-width: 1079px) {

    //mobile
    .contact-page {
        flex-direction: column;
        margin-bottom: 0;
    }
}