<div class="account-container">
    <div *ngIf="loggedIn == null">
        <h1>Loading...</h1>
    </div>
    <div class="account-details" *ngIf="loggedIn">
        <div class="details">
            <h1>Account Details</h1>
            <ng-container *ngIf="userData != null">
                <ng-container *ngIf="!isChangingPassword else changingPassword">
                    <form [formGroup]="changeAccountDetails" (ngSubmit)="submitChanges()">
                        <div class="inputs">
                            <div class="detail">
                                <label for="forename">Forename</label>
                                <input [attr.disabled]="!edit ? true : null" [ngClass]="{'enabled': edit}"
                                    formControlName="forename" id="forename">
                                <div
                                    *ngIf="changeAccountDetails.get('forename')?.hasError('required') && changeAccountDetails.get('forename')?.touched">
                                    Forename is required.
                                </div>
                            </div>
                            <div class="detail">
                                <label for="surname">Surname</label>
                                <input input [attr.disabled]="!edit ? true : null" [ngClass]="{'enabled': edit}"
                                    formControlName="surname" id="surname">
                                <div
                                    *ngIf="changeAccountDetails.get('surname')?.hasError('required') && changeAccountDetails.get('surname')?.touched">
                                    Surname is required.
                                </div>
                            </div>
                            <div class="detail">
                                <label for="email">Email</label>
                                <input input [attr.disabled]="!edit ? true : null" [ngClass]="{'enabled': edit}"
                                    formControlName="email" id="email">
                                <div
                                    *ngIf="changeAccountDetails.get('email')?.hasError('required') && changeAccountDetails.get('email')?.touched">
                                    Email is empty or invalid.
                                </div>
                            </div>
                            <div class="detail">
                                <label for="primary-phone">Phone number (primary)</label>
                                <input input [attr.disabled]="!edit ? true : null" [ngClass]="{'enabled': edit}"
                                    formControlName="primaryPhone" id="primary-phone">
                                <div
                                    *ngIf="changeAccountDetails.get('primary-phone')?.hasError('required') && changeAccountDetails.get('primary-phone')?.touched">
                                    Primary phone is empty or invalid.
                                </div>
                            </div>
                            <div class="detail">
                                <label for="secondary-phone">Phone number (secondary)</label>
                                <input input [attr.disabled]="!edit ? true : null" [ngClass]="{'enabled': edit}"
                                    formControlName="secondaryPhone" id="secondary-phone">
                                <div
                                    *ngIf="changeAccountDetails.get('secondary-phone')?.hasError('required') && changeAccountDetails.get('secondary-phone')?.touched">
                                    Secondary phone is empty or invalid.
                                </div>
                            </div>
                        </div>
                        <p *ngIf="userData?.pending_approval == 'Yes'">*Business account approval pending</p>
                        <div class="buttons">
                            <button *ngIf="!edit" type="button" (click)="toggleEdit()">Edit</button>
                            <button *ngIf="edit" type="submit" [disabled]="changeAccountDetails.invalid">Save <fa-icon
                                    *ngIf="isLoading" class="loading-icon" [icon]="loading" spinPulse
                                    [spin]="true" /></button>
                            <button *ngIf="!edit" type="button" (click)="toggleChangePassword()">Change
                                Password</button>
                            <button *ngIf="edit" type="button" (click)="cancelEdit()">Cancel</button>
                            <button *ngIf="!edit" type="button" (click)="logout()">Logout</button>
                            <button *ngIf="userData.subscribed == 1" type="button" (click)="unsubscribe()">Unsubscribe
                                <fa-icon *ngIf="isUnsubscribing" class="loading-icon" [icon]="loading" spinPulse
                                    [spin]="true" /></button>
                        </div>
                    </form>
                </ng-container>
                <ng-template #changingPassword>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <div class="inputs">
                            <p *ngIf="error != null" class="error">{{ error }}</p>
                            <div class="change-password-field">
                                <label>Old Password</label>
                                <input formControlName="oldPassword" type="password">
                            </div>
                            <div class="change-password-field">
                                <label>New Password</label>
                                <input formControlName="newPassword" type="password">
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="button" (click)="toggleChangePassword()">Cancel</button>
                            <button type="submit">Save <fa-icon *ngIf="isLoading" class="loading-icon" [icon]="loading"
                                    spinPulse [spin]="true" /></button>
                        </div>
                    </form>
                </ng-template>
            </ng-container>
        </div>
        <div class="address-book">
            <h1>Address Book</h1>
            <form [formGroup]="addAddressForm" (ngSubmit)="addAddress()">
                <div class="address-book-table">
                    <table>
                        <thead>
                            <tr class="column-titles">
                                <th>Line 1</th>
                                <th>Line 2</th>
                                <th>Line 3</th>
                                <th>Postcode</th>
                                <th class="delete">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="address-book-table">
                            <tr *ngFor="let address of addressBook">
                                <td class="address-1">{{ address.delivery_address_one }}</td>
                                <td class="address-2">{{ address.delivery_address_two }}</td>
                                <td>{{ address.delivery_address_three }}</td>
                                <td>{{ address.delivery_postcode }}</td>

                                <ng-container *ngIf="pendingDeleteId != address.id else pendingDelete">
                                    <td class="delete-icon" (click)="setDeleteId(address.id)">
                                        <fa-icon [icon]="bin" />
                                    </td>
                                </ng-container>
                                <ng-template #pendingDelete>
                                    <td class="delete-icon" (click)="removeAddress()">
                                        <fa-icon [icon]="tick" />
                                    </td>
                                </ng-template>
                            </tr>
                            <tr *ngIf="this.showAddNew">
                                <td>
                                    <input type="text" formControlName="delivery_address_one"
                                        placeholder="House number and street name">
                                </td>
                                <td>
                                    <input type="text" formControlName="delivery_address_two"
                                        placeholder="Apartment, suite, unit etc. (optional)">
                                </td>
                                <td>
                                    <input type="text" formControlName="delivery_address_three"
                                        placeholder="Town / City">
                                </td>
                                <td>
                                    <input type="text" formControlName="delivery_postcode" placeholder="Postcode">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="buttons">
                        <button *ngIf="!showAddNew" type="button" (click)="toggleAddNew()">Add New</button>
                        <button *ngIf="showAddNew" type="submit">Save</button>
                        <button *ngIf="showAddNew" type="button" (click)="cancelAddAddress()">Cancel</button>
                    </div>
                </div>

                <div class="address-book-cards">
                    <div *ngFor="let address of addressBook" class="address-card">
                        <div class="address-line">{{ address.delivery_address_one }}</div>
                        <div class="address-line">{{ address.delivery_address_two }}</div>
                        <div class="address-line">{{ address.delivery_address_three }}</div>
                        <div class="address-line">{{ address.delivery_postcode }}</div>
                        <div class="address-actions">
                            <ng-container *ngIf="pendingDeleteId != address.id else pendingDelete">
                                <fa-icon [icon]="bin" class="delete-icon" (click)="setDeleteId(address.id)"></fa-icon>
                            </ng-container>
                            <ng-template #pendingDelete>
                                <fa-icon [icon]="tick" (click)="removeAddress()"></fa-icon>
                            </ng-template>
                        </div>
                    </div>
                    <div *ngIf="this.showAddNew" class="address-card">
                        <div class="address-line">
                            <label>Line 1</label>
                            <input type="text" formControlName="delivery_address_one"
                                placeholder="House number and street name">
                        </div>
                        <div class="address-line">
                            <label>Line 2</label>
                            <input type="text" formControlName="delivery_address_two"
                                placeholder="Apartment, suite, unit etc. (optional)">
                        </div>
                        <div class="address-line">
                            <label>Town / City</label>
                            <input type="text" formControlName="delivery_address_three" placeholder="Town / City">
                        </div>
                        <div class="address-line">
                            <label>Postcode</label>
                            <input type="text" formControlName="delivery_postcode">
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" (click)="toggleAddNew()">Add New</button>
                        <button type="submit">Save</button>
                        <button type="button" (click)="cancelAddAddress()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="order-history">
        <h1>Order history</h1>
        <ng-container *ngIf="orderHistory != null && orderHistory.length != 0 else noOrders">
            <table class="order-history-table desktop-only">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reference</th>
                        <th>Status</th>
                        <th>Net Value</th>
                        <th>VAT</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderHistory">
                        <td>{{ order.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ order.title }}</td>
                        <td>{{ order.status }}</td>
                        <td>£{{ order.gross_value | number: '1.2-2' }}</td>
                        <td>£{{ order.VAT | number: '1.2-2' }}</td>
                        <td>£{{ order.total | number: '1.2-2' }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="order-card-layout mobile-only" *ngFor="let order of orderHistory">
                <div class="order-card">
                    <p><strong>Date:</strong> {{ order.date | date: 'dd/MM/yyyy' }}</p>
                    <p><strong>Reference:</strong> {{ order.title }}</p>
                    <p><strong>Status:</strong> {{ order.status }}</p>
                    <p><strong>Net Value:</strong> £{{ order.gross_value | number: '1.2-2' }}</p>
                    <p><strong>VAT:</strong> £{{ order.VAT | number: '1.2-2' }}</p>
                    <p><strong>Total:</strong> £{{ order.total | number: '1.2-2' }}</p>
                </div>
            </div>
        </ng-container>
        <ng-template #noOrders>
            <h2 class="no-orders">Nothing to show here!</h2>
        </ng-template>
    </div>

</div>
<app-footer />