$hellenicblue: rgb(0, 140, 255);
.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    font-size: 14px;
    border-top: 3px solid black;
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 68%;
        margin: 0 auto;
        padding: 0 20px;
        gap: 5vw;
        img {
            max-height: 60px;
            max-width: 200px;
            margin-bottom: 15px;
        }
        .column {
            display: flex;
            flex-direction: column;
            p {
                margin: 0px;
            }
        }
        h1 {
            font-size: 16px;
        }
        .link {
            display: flex;
            a {
                transition: border-color 0.5s ease;
                border-bottom: 1px solid transparent;
                text-decoration: none;
                color: #000000;
                &:active {
                    color: #000000;
                }
                &:hover {
                    border-color: $hellenicblue;
                }
            }
        }
    }
}

.left-most {
    div {
        display: flex;
        align-items: baseline;
        gap: 10px;
        max-width: 22vw;
    }
}

.right-most {
    display: flex;
    align-items: flex-start;
    margin: 5px;
    gap: 20px;
    fa-icon {
        margin-right: 10px;
    }
}


@media screen and (max-width: 1079px) {
    //mobile
    .left-most {
        width: 60vw!important;
        margin-right: 0!important;
        div {
            max-width: 100%!important;
        }
    }
    .right-most {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap!important;
        gap: 0!important;
    }
    .container {
        flex-direction: column;
    }
    .column {
        width: 32vw!important;
    }
}