.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    /* White text color */
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.nav-link {
    font-size: 18px;
    color: #000000;
    /* White text color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #2188FF;
    cursor: pointer;
}

.nav-logo img {
    width: 100px;
    height: auto;
}