$hellenicblue: rgb(0, 140, 255);
.category-bar,
.intro-bar,
.navbar {
    margin: auto;
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-bar,
.navbar {
    background-color: rgb(255, 255, 255);
}

.navbar {
    padding: 10px 0 10px 0;
}

.category-bar {
    font-weight: bold;
}

.intro-bar {
    font-size: 14px;
}

.intro-bar p {
    border: 1px solid#e9e9e9;
    border-style: none solid;
    padding: 12px;
    margin: 0px;
}

.search-container {
    display: inline-flex;
}

.search-container input,
.search-container select,
.search-container button {
    border: 1px solid #e9e9e9;
    border-radius: 0px;
    background-color: #FFFFFF;
    font-size: 100%;
    padding: 12px;
}

.search-container input,
.search-container select {
    width: 100%
}

.search-container button {
    background-color: $hellenicblue;
}

.account-section {
    display: inline-flex;
}

.account-section {
    a {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        margin: 10px;
        /* Stack elements vertically */
        .icon-container {
            margin-bottom: 5px;
            text-align: center;
            font-size: 20px;
        }
    }
}

.bottom-border {
    border-bottom: 1px solid#e9e9e9;
}

.container {
    width: 100%
}

.hellenic-blue {
    background-color: $hellenicblue;
}

.white {
    background-color: rgb(255, 255, 255);
}

.hamburger {
    background-color: rgb(0, 119, 255);
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    /* White text color */
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.nav-link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    margin: 10px 0 10px 0;
}

.nav-logo img {
    width: 70px;
    height: auto;
}

.sidebar a:hover,
.dropdown-btn:hover {
    background-color: #e2e2e2;
    color: $hellenicblue;
}

.dropdown-container {
    display: none;
    background-color: #FFFFFF;
    padding-left: 8px;
}

.dropdown {
    position: relative;
    color: #FFFFFF;
    padding: 5px 10px;
}

.text-icon {
    padding: 0 15px;
}

.interact-icon {
    color: black;
    transition: color 0.3s ease;
}

.interact-icon:hover {
    color: $hellenicblue;
}

.dropdown-content {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 235px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform-origin: top center;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
    a {
        border-bottom: 1px solid #b9b9b9;
        display: block;
        padding: 10px 15px;
        color: #333333;
        text-decoration: none;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
    a:hover {
        color: $hellenicblue;
        background-color: #eeeeee;
    }
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
    transition-delay: 0s, 0s, 0s;
}