<div class="container">
    <div class="intro-bar">
        <p>Welcome to Hellenic Grocery</p>
        <p>
            <fa-icon [icon]="faEnvelope"></fa-icon> support@hellenic.co.uk</p>
    </div>
</div>
<nav class="navbar">
    <a routerLink="/" class="nav-logo">
        <img src="assets/logo.jpg" alt="Food Retail Logo">
    </a>
    <div class="search-container">
        <div class="search-options">
            <input (input)="search($event)" (focus)="onInputFocus()" (blur)="onInputBlur()" type="text" placeholder="Search for products, categories, brands, sku..." name="search">
            <select (change)="changeCategory($event)">
                <option value="all">All Categories</option>
                <option *ngFor="let category of categories; let i = index;" [value]="category">
                    {{ category }}
                </option>
            </select>
            <button type="submit"><fa-icon class="text-icon" [icon]="faSearch"></fa-icon></button>
        </div>
        <div class="search-dropdown">
            <div class="search-dropdown-items">
                <a class="search-results" *ngFor="let product of searchResults.slice(0, 5); let i = index;" [routerLink]="'/view/' + product.name">
                    <div>
                        <img [src]="'assets/uploads/admin_uploads/' + product.image_location">
                        <p> {{ product.name }} </p>
                    </div>
                    <ng-container *ngIf="oldPrices[i] != null else elseBlock">
                        <div class="price-container">
                            <p class="price">£{{ oldPrices[i] | number: '1.2-2' }}</p>
                            <p class="old-price">£{{ product.price | number: '1.2-2' }}</p>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <div class="price-container">
                            <p class="price">£{{ product.price | number: '1.2-2' }}</p>
                        </div>
                    </ng-template>
                </a>
            </div>
        </div>
    </div>
    <div class="account-section">
        <a (click)="toggleLogin()">
            <div class="icon-container">
                <fa-icon class="interact-icon" [icon]="faUser"></fa-icon>
            </div>
            Account
        </a>
        <a>
            <div class="icon-container">
                <fa-icon class="interact-icon" [icon]="faHeart"></fa-icon>
            </div>
            Wishlist
        </a>
        <a (click)="toggleCart()">
            <div class="icon-container">
                <fa-icon class="interact-icon" [icon]="faCartShopping"></fa-icon>
            </div>
            Cart
        </a>
    </div>
</nav>
<app-navbar-category-search></app-navbar-category-search>
<ng-container *ngIf="loginVisible">
    <app-login-form></app-login-form>
</ng-container>
<ng-container *ngIf="cartVisible">
    <app-cart-popup></app-cart-popup>
</ng-container>