<div class="container bottom-border">
    <div class="intro-bar">
        <p>Welcome to Hellenic Grocery</p>
        <p>
            <fa-icon [icon]="faEnvelope"></fa-icon> support@hellenic.co.uk</p>
    </div>
</div>
<nav class="navbar">
    <a routerLink="/" class="nav-logo">
        <img src="assets/logo.jpg" alt="Food Retail Logo">
    </a>
    <div class="search-container">
        <input type="text" placeholder="Search for products, categories, brands, sku..." name="search">
        <select>
            <option value="all">All Categories</option>
            <option *ngFor="let category of categories; let i = index;" value=category>
                {{ category }}
            </option>
        </select>
        <button type="submit"><fa-icon class="text-icon" [icon]="faSearch"></fa-icon></button>
    </div>
    <div class="account-section">
        <a>
            <div class="icon-container">
                <fa-icon class="interact-icon" [icon]="faUser"></fa-icon>
            </div>
            Account
        </a>
        <a>
            <div class="icon-container">
                <fa-icon class="interact-icon" [icon]="faHeart"></fa-icon>
            </div>
            Wishlist
        </a>
        <a>
            <div class="icon-container">
                <fa-icon class="interact-icon" [icon]="faCartShopping"></fa-icon>
            </div>
            Cart
        </a>
    </div>
    <!-- <ul id="nav-links" class="nav-links">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/about" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contact" class="nav-link">Contact</a>
        </li>
        <ng-container *ngIf="categories && subcategories">
            <li *ngFor="let category of categories; let i = index" class="nav-item dropdown">
                <a (click)="selectCategory('items-category', category)" [routerLink]="['/products', category]" class="nav-link">{{ category }}</a>
                <div class="dropdown-content">
                    <ng-container *ngIf="subcategories[i]">
                        <a *ngFor="let subcategory of subcategories[i][0].split(','); let k = index" (click)="selectCategory('items-sub-category', subcategory)" [routerLink]="['/products', subcategory.trim()]">
                            {{ subcategory.trim() }}
                        </a>
                    </ng-container>
                </div>
            </li>
        </ng-container>
        <li id="shopping-cart" class="nav-item">
            <a (click)="showCart()" class="nav-link"><i class="material-icons inline-icon">shopping_cart</i></a>
        </li>
        <li id="login-button" class="nav-item">
            <a (click)="showLogin()" class="nav-link"><i class="material-icons inline-icon">person</i></a>
        </li>
    </ul> -->
</nav>
<div class="hellenic-blue">
    <nav class="category-bar">
        <ul class="nav-links">
            <ng-container *ngIf="categories">
                <li class="nav-item dropdown hamburger">
                    <p class="nav-link">Shop By Categories</p>
                    <fa-icon class="text-icon" [icon]="faBars"></fa-icon>
                    <div class="dropdown-content">
                        <a *ngFor="let category of categories; let i = index;">
                            {{ category }}
                        </a>
                    </div>
                </li>
            </ng-container>
        </ul>
    </nav>
</div>