<div class="featured">
    <h1>Featured Products</h1>
    <div class="featured-container">
        <ng-container *ngIf="featuredData && featuredProducts">
            <div class="background-card card" [style.background-image]="'url(assets/uploads/admin_uploads/' + featuredData.image_file_name + ')'">
                <div class="annotation">
                    <h2>{{ featuredData.text_content }}</h2>
                </div>
            </div>
            <div class="product-card card" *ngFor="let product of featuredProducts; let i = index;">
                <ng-container *ngIf="product.discount && product.discount != null">
                    <div class="discount-banner">
                        <p>{{ product.discount }}% OFF</p>
                    </div>
                </ng-container>
                <img [src]="'assets/uploads/admin_uploads/' + product.image_file_name">
                <p class="product-name">{{ product.item_name }}</p>
                <div class="price-container">
                    <ng-container *ngIf="oldPrices[i] != null else elseBlock">
                        <p class="price">£{{ oldPrices[i] | number: '1.2-2' }}</p>
                        <p class="old-price">£{{ product.price | number: '1.2-2' }}</p>
                    </ng-container>
                    <ng-template #elseBlock>
                        <p class="price">£{{ product.price | number: '1.2-2' }}</p>
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </div>
</div>