$hellenicblue: rgb(0, 140, 255);
.featured {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    .featured-container {
        display: flex;
        gap: 10px;
        .background-card {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 25%;
            .annotation {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                height: 100%;
                width: 100%;
                h2 {
                    padding: 15px;
                    background-color: $hellenicblue;
                    border-radius: 20px 0 0 20px;
                    width: fit-content;
                    color: white;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 6px;
            flex: 1;
        }
    }
    h1 {
        border-bottom: 3px solid $hellenicblue;
    }
}

@media screen and (max-width: 1079px) {
    //mobile
    .background-card {
        width: 100%!important;
    }
    .featured-container {
        flex-direction: column;
    }
    .featured {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr))!important;
    }
}