<div class="featured">
    <h1>Featured Products</h1>
    <div class="featured-container">
        <ng-container *ngIf="featuredData && featuredProducts">
            <div class="background-card card" [style.background-image]="'url(assets/uploads/admin_uploads/' + featuredData.image_file_name + ')'">
                <div class="annotation">
                    <h2>{{ featuredData.text_content }}</h2>
                </div>
            </div>
            <div class="product-card card" *ngFor="let item of featuredProducts; let i = index;">
                <ng-container *ngIf="item.discount && item.discount != null">
                    <div class="discount-banner">
                        <p>{{ item.discount }}% OFF</p>
                    </div>
                </ng-container>
                <img [src]="'assets/uploads/admin_uploads/' + item.image_file_name">
                <p class="product-name">{{ item.item_name }}</p>
                <div class="price-container">
                    <p class="product-price">£{{ item.price | number: '1.2-2' }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>