<div class="hellenic-blue">
    <nav class="category-bar">
        <ul class="nav-links">
            <ng-container *ngIf="categories">
                <li class="nav-item dropdown hamburger">
                    <p class="nav-link">Shop By Categories</p>
                    <fa-icon class="text-icon" [icon]="faBars"></fa-icon>
                    <div class="dropdown-content">
                        <a *ngFor="let category of categories; let i = index;" [routerLink]="'/shop/' + category">
                            {{ category }}
                        </a>
                    </div>
                </li>
            </ng-container>
        </ul>
    </nav>
</div>