$hellenicblue: rgb(0, 140, 255);
.container {
    width: 100vw;
    background-color: $hellenicblue;
    margin-left: auto;
    margin-right: auto;
    .category-bar {
        width: 68vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        .nav-links {
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 15.8vw;
            margin-block: 0px;
            padding: 0px;
            .dropdown {
                position: relative;
                color: #FFFFFF;
                padding: 5px 10px;
                .nav-link {
                    font-size: 18px;
                    color: #ffffff;
                    text-decoration: none;
                    transition: color 0.3s ease;
                    display: inline-block;
                    margin: 10px 0 10px 0;
                }
                .text-icon {
                    padding: 0 15px;
                }
                .dropdown-content {
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: #ffffff;
                    overflow-x: hidden;
                    transition: 0.5s;
                    padding-top: 60px;
                    a {
                        border-bottom: 1px solid #b9b9b9;
                        display: block;
                        padding: 10px 15px;
                        color: #333333;
                        text-decoration: none;
                        transition: background-color 0.5s ease, color 0.5s ease;
                    }
                    a:hover {
                        color: $hellenicblue;
                        background-color: #eeeeee;
                    }
                }
            }
            .dropdown:hover .dropdown-content {
                width: 30%;
                visibility: visible;
            }
            .hamburger {
                background-color: rgb(0, 119, 255);
            }
        }
    }
}

@media screen and (max-width: 1079px) {
    .container {
        width: 100%;
    }
    .category-bar {
        width: 100%;
    }
    .nav-links {
        margin-left: 0%!important;
    }
    .nav-link {
        display: none!important;
    }
    .hamburger {
        display: flex; align-items: center;
    }
    .ng-fa-icon {
        margin: 12px 0;
    }
}
    
