<div class="shop-grid-container">
    <div class="shop-grid-header">
        <div>
            <h3>Shop</h3>
            <p>(Showing {{ resultsAmount }} products)</p>
        </div>
        <div>
            <label>Show:</label>
            <select (change)="changeItemsPerPage($event)">
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>30</option>
            </select>
            <select (change)="changeSorting($event)">
                <option>Default Sorting</option>
                <option value="high-low">Sort by price: High to Low</option>
                <option value="low-high">Sort by price: Low to High</option>
            </select>
        </div>
    </div>
    <div class="grid-container">
        <ng-container *ngIf="products.length > 0 else noProducts">
            <div class="product-container" *ngFor="let product of products.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage); let i = index;">
                <ng-container *ngIf="product.discount && product.discount != null">
                    <div class="discount-banner">
                        <p>{{ product.discount }}% OFF</p>
                    </div>
                </ng-container>
                <img [routerLink]="'/view/' + product.name" [src]="product.image_location == null ? imageUrl + 'placeholder.jpg' : imageUrl + product.image_location" />
                <a [routerLink]="'/view/' + product.name" class="product-name">{{ product.name }}</a>
                <div class="price-container">
                    <ng-container *ngIf="oldPrices[i] != null else elseBlock">
                        <p class="price">£{{ oldPrices[i] | number: '1.2-2' }}</p>
                        <p class="old-price">£{{ product.price | number: '1.2-2' }}</p>
                    </ng-container>
                    <ng-template #elseBlock>
                        <p class="product-price">£{{ product.price | number: '1.2-2' }}</p>
                    </ng-template>
                </div>
                <div class="product-options">
                    <button (click)="addToCart(product.id, 1)">Add to cart</button>
                    <p (click)="addToWishlist(product.id)">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </p>
                    <p (click)="openImage(product.image_location)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </p>
                </div>
            </div>
        </ng-container>
        <ng-template #noProducts>
            <div class="no-products-container">
                <h2>There were no products found matching your selection!</h2>
            </div>
        </ng-template>
    </div>
    <div class="footer">
        <div class="page-options">
            <button *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1">Previous</button>
            <button *ngIf="products.length > 0" [class]="currentPage == 1 ? 'active-page' : ''" (click)="currentPage = 1"> {{ 1 }}</button>
            <button *ngFor="let pageNumber of getPageRange()" [class]="currentPage == pageNumber ? 'active-page' : ''" (click)="currentPage = pageNumber">{{ pageNumber }}</button>
            <button *ngIf="currentPage < totalPages" (click)="currentPage = currentPage + 1">Next</button>
        </div>
    </div>
</div>