$hellenicblue: rgb(0, 140, 255);

.shop-grid-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    gap: 8px;

    .footer {
        margin: 10px 0;

        .page-options {
            .active-page {
                background-color: #008cff;
                color: white;
                border: 1px solid #008cff;

                &:hover {
                    background-color: #0082ed;
                    border: 1px solid #0082ed;
                }
            }

            button {
                background-color: white;
                font-size: 16px;
                outline: none;
                border: 1px solid #cccccc;
                margin: 2px;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #eaeef3;
                }
            }
        }
    }

    .shop-grid-header {
        border-bottom: 1px solid $hellenicblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h3 {
            display: inline-flex;
            align-items: center;
            gap: 15px;
            margin: 0;
            font-size: 20px
        }

        div {
            display: inline-flex;
            align-items: center;
            gap: 7px;

            p {
                margin: 5px;
                font-size: 12px;
            }

            select {
                border: 1px solid #e9e9e9;
                border-radius: 0px;
                background-color: #FFFFFF;
                font-size: 100%;
                padding: 10px;
                margin: 10px 0;
                cursor: pointer;
            }
        }

        label {
            color: black;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 6px;
        flex: 1;
    }
}

@media screen and (max-width: 1079px) {

    //mobile
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .sorting-select {
        width: 150px;
    }

    .shop-grid-container {
        margin: auto;
        margin-top: 35px;
        width: 90%;
    }

    .shop-grid-header {
        flex-wrap: wrap;

        div {
            margin-left: 1.5vw;

            lable {
                color: white;
            }
        }
    }
}