<div class="shop-grid-container">
    <div class="shop-grid-header">
        <div>
            <h3>Shop</h3>
            <p>(Showing {{ resultsAmount }} products)</p>
        </div>
        <div>
            <label>Show:</label>
            <select>
                <option>6</option>
                <option>9</option>
                <option>12</option>
                <option>24</option>
            </select>
            <select (change)="changeSorting($event)">
                <option>Default Sorting</option>
                <option value="high-low">Sort by price: High to Low</option>
                <option value="low-high">Sort by price: Low to High</option>
            </select>
        </div>
    </div>
    <div class="product-container">
        <ng-container *ngIf="products">
            <div class="product" *ngFor="let product of products; let i = index;" [routerLink]="'/view/' + product.name">
                <ng-container *ngIf="product.discount && product.discount != null">
                    <div class="discount-banner">
                        <p>{{ product.discount }}% OFF</p>
                    </div>
                </ng-container>
                <img [alt]="product.name" [src]="imageUrl + product.image_location">
                <p class="brand">{{ product.brand }}</p>
                <p class="name">{{ product.name }}</p>
                <ng-container *ngIf="oldPrices[i] != null else elseBlock">
                    <div class="price-container">
                        <p class="price">£{{ oldPrices[i] | number: '1.2-2' }}</p>
                        <p class="old-price">£{{ product.price | number: '1.2-2' }}</p>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    <div class="price-container">
                        <p class="price">£{{ product.price | number: '1.2-2' }}</p>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>
</div>