<div class="form-container">
    <div class="login-form">
        <div class="text-section">
            <h1>Login</h1>
            <p>Get access to your orders, wishlist and more!</p>
        </div>
        <div class="input-section">
            <input type="text" placeholder="Enter email address">
            <input type="text" placeholder="Enter password">
            <div class="login-options">
                <div>
                    <label for="remember-me">Remember me</label>
                    <input type="checkbox" id="remember-me" name="remember-me" value="remember-me">
                </div>
                <a>Forgot your password?</a>
            </div>

        </div>
    </div>
</div>