<div [@loginAnimation]="loginVisible" class="form-container">
    <div class="login-form">
        <div class="text-section">
            <div>
                <h1>Login</h1>
                <p>Get access to your orders, wishlist and more!</p>
            </div>
            <a (click)="createAccount()">Create Account</a>
        </div>
        <div class="input-section">
            <span (click)="hideLogin()" class="close">&times;</span>
            <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
                <p class="error">{{ loginError }}</p>
                <div *ngFor="let error of errorMessages.email">
                    <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError(error.type) && submitted">
                        {{ error.message }}
                    </div>
                </div>
                <input [class]="inputHasError('email') ? 'error-input' : ''" type="text" required formControlName="email" placeholder="Enter email address">
                <div *ngFor="let error of errorMessages.password">
                    <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError(error.type)">
                        {{ error.message }}
                    </div>
                </div>
                <input *ngIf="!forgotPasswordState" [class]="inputHasError('password') ? 'error-input' : ''" type="password" required formControlName="password" placeholder="Enter password">
                <div class="login-options">
                    <!-- <div>
                        <label for="remember-me">Remember me</label>
                        <input type="checkbox" id="remember-me" name="remember-me" value="remember-me">
                    </div> -->
                    <a (click)="forgotPassword()">Forgot your password?</a>
                </div>
                <button type="submit">{{ !forgotPasswordState ? 'Login' : 'Send Recovery Email' }}</button>
            </form>
        </div>
    </div>
</div>