<div class="sidebar">
    <ng-container *ngIf="categories && subcategories">
        <button *ngFor="let category of categories; let i = index" class="dropdown-btn">
            {{ category }}
            <fa-icon class="right icon" [icon]="faCaretDown"></fa-icon>
            <ng-container *ngIf="subcategories[i]">
                <div class="dropdown-container">
                    <a *ngFor="let subcategory of subcategories[i][0].split(','); let k = index" (click)="changeCategory(category, 'category')">
                        {{ subcategory.trim() }}
                    </a>
                </div>
            </ng-container>
        </button>
    </ng-container>
</div>