<app-page-banner></app-page-banner>
@if (loggedIn) {
<div class="container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>In stock</th>
        <th></th>
      </tr>
    </thead>
    @for (product of wishlistProducts; track product; let i = $index) {
    <tr>
      <td>
        <img [src]="imageUrl + product.image" (error)="onImageError($event)" />
      </td>
      <td [routerLink]="'/view/' + product.name">{{ product.name }}</td>
      <td class="price-container">
        @if (product.discount > 0) {
        <p class="discounted-price">
          £{{ product.discounted_price | number : "1.2-2" }}
        </p>
        }
        <p
          [class]="product.discount > 0 ? 'original-price' : 'discounted-price'"
        >
          £{{ product.price | number : "1.2-2" }}
        </p>
      </td>
      <td [ngClass]="banners[i].class">
        <span>{{ banners[i].message }}</span>
      </td>
      <td (click)="removeFromWishlist(product.id)">
        <fa-icon [icon]="faX" />
      </td>
    </tr>
    }
  </table>
  @if (wishlistProducts.length < 1) {
  <div class="empty-container">
    <h1>Your wishlist is empty!</h1>
    <button [routerLink]="'/shop'">Add products</button>
  </div>
  }
</div>
}
<app-login-form />
<app-footer />
