.shop-container {
    min-height: 60vh;
    width: 68%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

::ng-deep app-shop-sidebar {
    flex-shrink: 0;
}

::ng-deep app-shop-grid {
    flex: 1;

}

@media screen and (max-width: 1079px) {

    //mobile
    .shop-container {
        margin: 0;
        width: 100%;
    }
}