<div class="sidebar-container">
    <div class="sidebar">
        <h2>Filter By Price</h2>
        <ul>
            <ng-container *ngIf="prices">
                <li *ngFor="let price of prices; let i = index;">
                    <div class="list-item">
                        <div [ngClass]="priceFilterIndex == i ? 'selected' : ''" class="toggle-icon"></div>
                        <a (click)="selectFilter(i)">{{ price }}</a>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>