<div class="sidebar-container">
    <div class="sidebar">
        <h2>Filter By Price</h2>
        <ul>
            <ng-container *ngIf="prices">
                <li *ngIf="priceFilterIndex != -1">
                    <div class="list-item" (click)="clearFilter()">
                        <div class="toggle-icon"></div>
                        <a>Clear</a>
                    </div>
                </li>
                <li *ngFor="let price of prices; let i = index;">
                    <div class="list-item" (click)="selectFilter(i)">
                        <div [ngClass]="priceFilterIndex == i ? 'selected' : ''" class="toggle-icon"></div>
                        <a>{{ price }}</a>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>