<div class="view-details-container">
    <p>{{ fullPath }}</p>
    <ng-container *ngIf="product">
        <h1>{{ product.name }}</h1>
        <ng-container *ngIf="oldPrice != null else elseBlock">
            <div class="price-container">
                <p class="price">£{{ oldPrice | number: '1.2-2' }}</p>
                <p class="old-price">£{{ product.price | number: '1.2-2' }}</p>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="price-container">
                <p class="price">£{{ product.price | number: '1.2-2' }}</p>
            </div>
        </ng-template>
        <ng-container *ngIf="product.quantity < 10 && product.quantity > 1">
            <p class="quantity-message">Hurry! Only {{ product.quantity }} left!</p>
        </ng-container>
        <ng-container *ngIf="product.quantity < 1">
            <p class="quantity-message">Out of stock!</p>
        </ng-container>
        <p class="description">{{ product.description }}</p>
        <div class="purchasing-options">
            <input [disabled]="outOfStock" type="number" [(ngModel)]="quantity" value="1">
            <button (click)="addToCart(product.id, this.quantity)" [disabled]="outOfStock" class="cart">Add To Cart</button>
            <button [disabled]="outOfStock" class="purchase">Buy Now</button>
        </div>
        <div class="other-options">
            <p>
                <fa-icon [icon]="faHeart"></fa-icon> Add to wishlist</p>
            <p>
                <fa-icon [icon]="faEye"></fa-icon> View similar</p>
        </div>
        <div class="share-options">
            <p>Share: </p>
            <a (click)="share('clipboard')">
                <fa-icon [@clipboardAnimation]="clipboardState" [icon]="faClipboard"></fa-icon>
            </a>
            <a>
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
        </div>
    </ng-container>
</div>