<div class="product-container">
    <div class="discount-banner">
        <p *ngIf="product.discount && product.discount != null">{{ product.discount }}% OFF</p>
        <p *ngIf="product.banner" [class]="product.discount && product.discount != null ? 'secondary' : ''" [ngClass]="{
            'secondary': product.discount && product.discount != null,
            'red': product.quantity == 0,
            'yellow': product.quantity != 0 && product.quantity != null
        }">{{ product.banner }}</p>
    </div>
    <img [routerLink]="'/view/' + product.name" [src]="imageUrl + product.image_location"
        (error)="onImageError($event)" />
    <a [routerLink]="'/view/' + product.name" class="product-name">{{ product.name }}</a>
    <div class="price-container">
        <ng-container *ngIf="customerType == 'Retail' else wholesale">
            <p *ngIf="product.discounted_price != null" class="price">£{{ product.discounted_price | number: '1.2-2' }}
            </p>
            <p [class]="product.discounted_price ? 'old-price' : 'price'">£{{ product.price | number: '1.2-2' }}</p>
            <p *ngIf="product.retail_box_price">
                <span>Box: </span><span class="bold">£{{ product.retail_box_price | number: '1.2-2' }}</span>
            </p>
        </ng-container>
        <ng-template #wholesale>
            <div class="wholesale-container">
                <p><span>Unit: </span><span class="bold">£{{ (product.discounted_price ? product.discounted_price :
                        product.price) | number: '1.2-2' }}</span></p>
                <p *ngIf="product.box_price">
                    <span>Box: </span><span class="bold">£{{ product.box_price | number: '1.2-2' }}</span>
                </p>
                <p *ngIf="product.pallet_price">
                    <span>Pallet: </span><span class="bold">£{{ product.pallet_price | number: '1.2-2' }}</span>
                </p>
            </div>
        </ng-template>
    </div>
    <div class="product-options">
        <button [disabled]="product.quantity == 0" (click)="addToCart(product.id, 1)">Add to cart</button>
        <p (click)="addToWishlist(product.id)">
            <fa-icon [icon]="faHeart"></fa-icon>
        </p>
        <p *ngIf="product.image_location != null" (click)="openImage(product.image_location)">
            <fa-icon [icon]="faEye"></fa-icon>
        </p>
    </div>
</div>