$hellenicblue: rgb(0, 140, 255);
.grid-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    margin: 0 auto 30px auto;
    padding: 20px;
    h2 {
        border-bottom: 3px solid $hellenicblue;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 6px;
        .product-container {
            background-color: #FFFFFF;
            border: 1px solid #cccccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 22vw;
            overflow: hidden;
            transition: box-shadow 0.6s ease;
            .discount-banner {
                width: 100%;
                height: auto;
                position: relative;
                p {
                    position: absolute;
                    background-color: $hellenicblue;
                    color: white;
                    width: auto;
                    margin: 10px 0;
                    padding: 5px 15px;
                    border-radius: 0 10px 10px 0;
                }
                .secondary {
                    top: 3rem;
                }
                .red {
                    background-color: rgb(255, 61, 61);
                }
                .yellow {
                    background-color: rgb(255, 255, 59);
                    color: black;
                }
            }
            .product-name {
                cursor: pointer;
                transition: color 0.6s ease
            }
            img {
                margin: 5px;
                max-width: 100%;
                max-height: 100%;
                min-height: 45%;
                object-fit: contain;
                flex: 1;
                cursor: pointer;
            }
            p,
            a {
                text-decoration: none;
                color: #000000;
                align-self: flex-start;
                padding-left: 10px;
                margin: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
            }
            .price-container {
                display: flex;
                align-self: flex-start;
                p {
                    width: auto;
                }
                .price {
                    font-weight: bold;
                }
                .old-price {
                    text-decoration: line-through;
                    color: #333333;
                }
                .wholesale-container {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 12px;
                    .bold {
                        font-weight: bold;
                    }
                }
            }
            .product-options {
                display: flex;
                height: 0px;
                transition: height 0.6s ease;
                width: 100%;
                justify-content: flex-start;
                button {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 4px 15px;
                    margin: 10px;
                    background-color: $hellenicblue;
                    border: none;
                    color: #ffffff;
                    cursor: pointer;
                    &:disabled {
                        cursor: default;
                    }
                }
                p {
                    margin: auto 0;
                    width: auto;
                    fa-icon {
                        cursor: pointer;
                        transition: color 0.3s ease;
                        cursor: pointer;
                        &:hover {
                            color: $hellenicblue;
                        }
                    }
                }
            }
            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                .product-name {
                    color: $hellenicblue;
                }
                .product-options {
                    height: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 1079px) {
    //mobile main
    .grid-wrapper {
        width: 85%;
    }
}

@media screen and (max-width: 1079px) and (min-width: 501px) {
    //mobile
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr))!important;
    }
    .product-container {
        height: 42vw!important;
        .discount-banner {
            p {
                font-size: 12px;
                padding: 5px 10px;
            }
            .secondary {
                top: 2rem;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    // Small mobile
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr))!important;
    }
    .product-container {
        height: 66vw!important;
        .discount-banner {
            p {
                font-size: 12px!important;
                padding: 5px 10px!important;
            }
            .secondary {
                top: 2rem!important;
            }
        }
    }
}