<div class="grid-wrapper">
    <h2>Best Selling Products</h2>
    <div class="grid-container">
        <div class="product-container" *ngFor="let product of topProducts; let i = index;">
            <ng-container *ngIf="product.discount && product.discount != null">
                <div class="discount-banner">
                    <p>{{ product.discount }}% OFF</p>
                </div>
            </ng-container>
            <img [routerLink]="'/view/' + product.name" [src]="imageUrl + product.image_location" />
            <a [routerLink]="'/view/' + product.name" class="product-name">{{ product.name }}</a>
            <div class="price-container">
                <ng-container *ngIf="oldPrices[i] != null else elseBlock">
                    <p class="price">£{{ oldPrices[i] | number: '1.2-2' }}</p>
                    <p class="old-price">£{{ product.price | number: '1.2-2' }}</p>
                </ng-container>
                <ng-template #elseBlock>
                    <p class="product-price">£{{ product.price | number: '1.2-2' }}</p>
                </ng-template>
            </div>
            <div class="product-options">
                <button (click)="addToCart(product.id, 1)">Add to cart</button>
                <p (click)="addToWishlist(product.id)">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </p>
                <p (click)="openImage(product.image_location)">
                    <fa-icon [icon]="faEye"></fa-icon>
                </p>
            </div>
        </div>
    </div>
</div>