$hellenicblue: rgb(0, 140, 255);
.grid-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    margin: 0 auto 30px auto;
    padding: 20px;
    h2 {
        border-bottom: 3px solid $hellenicblue;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 6px;
        .product-container {
            background-color: #FFFFFF;
            border: 1px solid #cccccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            transition: box-shadow 0.6s ease;
            .product-name {
                transition: color 0.6s ease
            }
            img {
                margin: 5px;
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                object-fit: contain;
            }
            p {
                align-self: flex-start;
                padding-left: 10px;
                margin: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
            }
            div {
                display: flex;
                align-self: flex-start;
                .product-price {
                    font-weight: bold;
                }
                .old-price {
                    text-decoration: line-through;
                    color: #333333;
                }
            }
            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                .product-name {
                    color: $hellenicblue;
                }
            }
        }
    }
}