<div class="signup-container">
  @if (signupImage) {
    <div class="background-image" [style.background-image]="'url(' + imageUrl + signupImage + ')'">
      <div>
        <div class="signup-form">
          <form [formGroup]="signupForm" (ngSubmit)="submit()">
            <label>Stay home & get your daily needs from our shop</label>
            <div class="signup-form-footer">
              <input formControlName="email" type="email" required placeholder="Your email address">
              <button type="submit">
                @if (!signedUp) {
                  Sign Up
                } @else {
                  <fa-icon [icon]="faCheck" />
                }
              </button>
            </div>
          </form>
        </div>
        <img [src]="imageUrl + '/static/logo.jpg'" alt="Food Retail Logo">
      </div>
    </div>
  }
</div>