.view-image-container {
    display: flex;
    width: 68%;
    .main-image-container {
        border: 1px solid #cccccc;
        overflow: hidden;
        img {
            object-fit: contain;
            transform-origin: top left;
        }
    }
    .image-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-right: 15px;
        height: 500px;
        width: 15%;
        div {
            height: 25%;
            width: 100%;
            border: 1px solid #cccccc;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}