<div class="view-image-container">
    <ng-container *ngIf="product && productImages">
        <div class="image-sidebar">
            <div class="sidebar-image-container" *ngFor="let image of productImages; let isFirst = first" [ngClass]="{'active': isFirst}">
                <img (click)="changeImage($event)" [src]="imageUrl + image" [attr.data-image]="image">
            </div>
        </div>
        <div class="main-image-container" (mousemove)="zoomImage($event)" (mouseleave)="resetZoom()">
            <ng-container *ngIf="product.discount && product.discount != null">
                <div class="discount-banner">
                    <p>{{ product.discount }}% OFF</p>
                </div>
            </ng-container>
            <img (click)="openImage(primaryImage)" [src]="imageUrl + primaryImage" [style.transform]="'scale(' + zoomFactor + ') translate(' + zoomX + '%, ' + zoomY + '%)'">
        </div>
    </ng-container>
</div>