.product-view-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px auto 0 auto;
    width: 68%;
    gap: 30px;
    min-height: 76vh;
    app-view-details {
        width: auto;
    }
    //app-view-image {
        //flex: 1;
    //}
}
.product-view-main {
    width: 100%;
    display: flex;
    gap: 50px;
}



@media screen and (max-width: 1079px) {
    app-view-image {
        flex: 0;
    }
    .product-view-container {
        flex-direction: column!important;
        width: 85%!important;
        gap: 10px!important;
    }
    .product-view-main {
        width: 70%;
    }
    app-view-details {
        width: 100%!important;
    }
}

@media screen and (max-width: 650px) {
    .product-view-main {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 425px) {
    .product-view-main {
        width: 100%;
    }
}