.product-view-container {
    display: flex;
    justify-content: flex-start;
    margin: 50px auto 0 auto;
    width: 68%;
    gap: 30px;
    min-height: 76vh;
    app-view-details {
        width: 50%;
    }
    app-view-image {
        flex: 1;
    }
}

@media screen and (max-width: 1079px) {
    app-view-image {
        flex: 0;
    }
    .product-view-container {
        flex-direction: column!important;

    }
}