.container {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    .form-container {
        display: flex;
        flex-direction: column;
        .error-message {
            color: red;
        }
        input {
            width: 100%;
        }
        .error-input {
            border: 1px solid red;
        }
    }
}