$hellenicblue: rgb(0, 140, 255);
.container {
    width: 68%;
    margin: 10px auto 30px auto;
    .panel-container {
        display: flex;
        gap: 20px;
        .form-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            h2 {
                font-size: 15px;
            }
            .row-double {
                display: flex;
                width: 100%;
                gap: 10px;
                div {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }
            }
            .row {
                display: flex;
                flex-direction: column;
            }
            .checkbox-container {
                display: flex;
                label {
                    padding: 10px 10px 10px 0;
                }
            }
            div {
                input {
                    font-size: 17px;
                    font-family: 'Poppins', sans-serif;
                    padding: 10px;
                    margin: 7px 0px;
                    outline: none;
                    border: 1px solid #888888;
                    outline: 1px solid #fff;
                    transition: border 0.4s ease, outline 0.3s ease;
                }
            }
            .error-input {
                border: 1px solid red;
            }
            .error-message {
                color: red;
            }
            button {
                cursor: pointer;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                color: white;
                font-size: 16px;
                background-color: $hellenicblue;
                border: 0;
                padding: 8px 18px;
                transition: background-color 0.4s ease;
                &:hover {
                    background-color: #0075f3;
                }
            }
        }
        .side-bar {
            width: 35%;
            border: 1px solid #ccc;
            padding: 18px;
            height: 100%;
        }
    }
}