<app-page-banner></app-page-banner>
<div class="container">
    <h1>Please fill in the following fields</h1>
    <h2>All required fields are indicated with *</h2>
    <div class="panel-container">
        <div class="form-container">
            <p class="error-message">{{ error }}</p>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="row-double">
                    <div>
                        <label>Forename*</label>
                        <input [class]="inputHasError('forename') ? 'error-input' : ''" type="text" formControlName="forename">
                    </div>
                    <div>
                        <label>Surname*</label>
                        <input [class]="inputHasError('surname') ? 'error-input' : ''" type="text" formControlName="surname">
                    </div>
                </div>
                <div class="row">
                    <label>Phone number*</label>
                    <input [class]="inputHasError('phoneNumber') ? 'error-input' : ''" type="tel" formControlName="phone_number_primary">
                </div>
                <div class="row">
                    <label>Email*</label>
                    <input [class]="inputHasError('email') ? 'error-input' : ''" type="email" formControlName="email">
                </div>
                <div class="row-double">
                    <div>
                        <label>Address Line One*</label>
                        <input [class]="inputHasError('addressLineOne') ? 'error-input' : ''" type="text" formControlName="address_line_1">
                    </div>
                    <div>
                        <label>Address Line Two</label>
                        <input [class]="inputHasError('addressLineTwo') ? 'error-input' : ''" type="text" formControlName="address_line_2">
                    </div>
                </div>
                <div class="row">
                    <label>Address Line Three</label>
                    <input [class]="inputHasError('addressLineThree') ? 'error-input' : ''" type="text" formControlName="address_line_3">
                </div>
                <div class="row">
                    <label>Postcode*</label>
                    <input [class]="inputHasError('Postcode') ? 'error-input' : ''" type="text" formControlName="postcode">
                </div>
                <div class="row-double">
                    <div>
                        <label>Password*</label>
                        <input [class]="inputHasError('password') ? 'error-input' : ''" type="password" formControlName="password">
                    </div>
                    <div>
                        <label>Password Repeat*</label>
                        <input [class]="inputHasError('passwordRepeat') ? 'error-input' : ''" type="password" formControlName="passwordRepeat">
                    </div>
                </div>
                <div>
                    <label>You agree to receive promotional newsletters</label>
                    <input type="checkbox">
                </div>
                <div>
                    <label>You agree to the <a>terms and conditions</a></label>
                    <input type="checkbox">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="side-bar">
            <h1>Have you read our terms and conditions?</h1>
            <p>
                By creating an account on our website, you agree to abide by the terms and conditions.
            </p>
            <p>
                You must provide accurate and complete information when creating your account, including your forename, surname and address.
            </p>
            <p>
                You are solely responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
            </p>
        </div>
    </div>
</div>