<div class="card-container">
  @for (card of [card1, card2]; track card; let cardIndex = $index) {
    @if (card) {
      <div class="card" [style.background-image]="'url(' + imageUrl + cardLocations[cardIndex] + ')'">
        <div>
          @for (item of card; track item; let i = $index) {
            @if (item.element_type === 'Header') {
              <h4>{{ item.text_content }}</h4>
            }
            @if (item.element_type === 'Paragraph') {
              <p>{{ item.text_content }}</p>
            }
            @if (item.element_type === 'Other') {
              <button [routerLink]="item.text_content">Shop now</button>
            }
          }
        </div>
      </div>
    }
  }
</div>