$hellenicblue: rgb(0, 140, 255);
.category-row {
    font-weight: bold;
    width: 68%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.category {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    a {
        text-decoration: none;
        padding: 10px;
        transition: color 0.5s ease;
    }
    .image-container {
        height: 150px;
        width: 150px;
        overflow: hidden;
        border-radius: 100px;
        img {
            border-radius: 50%;
            object-fit: cover;
            height: 95%;
            width: 95%;
            transition: transform 0.5s ease;
        }
    }
    &:hover {
        cursor: pointer;
        color: $hellenicblue;
        img {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 1079px) { //mobile
    .category-row {
        width: 90%;
        gap: 2vw;
        flex-wrap: wrap;
        justify-content: center;
    }
    .category {
        width: 44vw;
    }
}