<div class="checkout-view-container">
    <app-checkout-coupon (couponEvent)="applyCoupon($event)"></app-checkout-coupon>
    <div class="details-container">
        <div class="checkout-billing-container">
            <h1>Billing details</h1>
            <h3 *ngIf="userType == 'Retail' || customerId == null" (click)="switchPaymentMethods()">Switch payment
                methods?</h3>
            <form [formGroup]="billingForm" (ngSubmit)="formSubmit()">
                <div *ngIf="paymentMethod == PaymentMethod.Barclays else paypal" class="form-container">
                    <div class="error-container">
                        <ng-container *ngFor="let control of billingForm.controls | keyvalue">
                            <div
                                *ngIf="billingForm.get(control.key)?.touched && billingForm.get(control.key)?.invalid && submitted">
                                <fa-icon class="interact-icon" [icon]="faCircleExclamation" />
                                <p>{{ control.key }} is invalid!</p>
                            </div>
                        </ng-container>
                        <div *ngIf="fieldError != null">
                            <fa-icon class="interact-icon" [icon]="faCircleExclamation" />
                            <p>{{ fieldError }}</p>
                        </div>
                    </div>
                    <div class="billing-form">
                        <div class="row">
                            <div class="stack">
                                <label>First name*</label>
                                <input [ngClass]="{'error-input' : inputHasError('First Name')}" type="text" required
                                    formControlName="First Name">
                            </div>
                            <div class="stack">
                                <label>Last name*</label>
                                <input [ngClass]="{'error-input' : inputHasError('Last Name')}" type="text" required
                                    formControlName="Last Name">
                            </div>
                        </div>
                        <div class="row single">
                            <label>Company name (optional)</label>
                            <input [ngClass]="{'error-input' : inputHasError('Company Name')}" type="text"
                                formControlName="Company Name">
                        </div>
                        <div class="row single">
                            <div class="column">
                                <label>Street address*</label>
                                <div *ngIf="!shouldCreateAccount" class="address-options">
                                    <fa-icon (click)="toggleAddressBook()" [icon]="book" />
                                    <p (click)="clearAddressFields()">Clear</p>
                                </div>
                            </div>
                            <div *ngIf="!shouldCreateAccount" class="row single addresses"
                                [ngClass]="{'shown': addressBookVisible}">
                                <div *ngFor="let address of addressBook" (click)="selectAddress(address)"
                                    class="column address-block">
                                    <p>{{ address.delivery_address_one }}</p>
                                    <p>{{ address.delivery_address_two }}</p>
                                    <p>{{ address.delivery_address_three }}</p>
                                    <p>{{ address.delivery_postcode }}</p>
                                </div>
                            </div>
                            <input [ngClass]="{'error-input' : inputHasError('Street Address')}" type="text" required
                                formControlName="Street Address" placeholder="House number and street name">
                            <input [ngClass]="{'error-input' : inputHasError('Street Address 2')}" type="text"
                                formControlName="Street Address 2" placeholder="Apartment, suite, unit etc. (optional)">
                        </div>
                        <div class="row single">
                            <label>Town / City*</label>
                            <input [ngClass]="{'error-input' : inputHasError('Town / City')}" type="text" required
                                formControlName="Town / City">
                        </div>
                        <div class="row single">
                            <label>County</label>
                            <input type="text" formControlName="County">
                        </div>
                        <div class="row single">
                            <label>Postcode*</label>
                            <input type="text" required formControlName="Postcode">
                        </div>
                        <div class="row single">
                            <label>Phone</label>
                            <input [ngClass]="{'error-input' : inputHasError('Phone')}" type="text"
                                formControlName="Phone">
                        </div>
                        <div class="row single">
                            <label>Email address*</label>
                            <input [ngClass]="{'error-input' : inputHasError('Email Address')}" type="text" required
                                formControlName="Email Address">
                        </div>
                        <div class="row single">
                            <label>Card number*</label>
                            <input [placeholder]="'1234123412341234'" type="text" required
                                formControlName="Card Number">
                        </div>
                        <div class="row">
                            <div class="stack">
                                <label>Expiry month*</label>
                                <input [placeholder]="'MM'" type="text" required formControlName="Expiry Month">
                            </div>
                            <div class="stack">
                                <label>Expiry year*</label>
                                <input [placeholder]="'YYYY'" type="text" required formControlName="Expiry Year">
                            </div>
                            <div class="stack">
                                <label>CVC*</label>
                                <input [placeholder]="'123'" type="text" required formControlName="CVC">
                            </div>
                        </div>
                        <h2>Additional information</h2>
                        <div class="row single">
                            <label>Order notes (optional)</label>
                            <textarea rows="10" class="message" type="text" formControlName="orderNotes"
                                placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <ng-template #paypal>
                <div class="paypal-container">
                    <ngx-paypal *ngIf="userType == 'Retail' || customerId == null" [config]="paypalConfig"></ngx-paypal>
                </div>
            </ng-template>
        </div>
        <div class="checkout-summary-container">
            <app-checkout-order-summary></app-checkout-order-summary>
            <p>Your personal data will be used to process your order, support your experience throughout this
                website, and for other purposes described in our <a [routerLink]="'/documents/privacy-policy'">privacy
                    policy</a>.</p>
            <div class="create-account-container" *ngIf="this.customerId == null">
                <label>Create acccount?</label>
                <input type="checkbox" [(ngModel)]="shouldCreateAccount">
            </div>
            <div *ngIf="shouldCreateAccount" class="terms-and-conditions">
                <h1>Have you read our terms and conditions?</h1>
                <p>By creating an account on our website, you agree to abide by the terms and conditions.</p>
                <p>You must provide accurate and complete information when creating your account, including your
                    forename, surname, and address.</p>
                <p>You are solely responsible for maintaining the confidentiality of your account credentials and
                    for all activities that occur under your account.</p>
            </div>
            <div *ngIf="shouldCreateAccount" class="checkbox-container">
                <div>
                    <label>You agree to the <a>terms and conditions*</a></label>
                    <input type="checkbox" (change)="terms = !terms" [checked]="terms">
                </div>
            </div>
            <div *ngIf="paymentMethod == PaymentMethod.Barclays" class="checkbox-container">
                <label>Save address?</label>
                <input type="checkbox" (change)="saveAddress = !saveAddress" [checked]="saveAddress">
            </div>
            <div *ngIf="paymentMethod == PaymentMethod.Barclays" class="payment-container">
                <button (click)="formSubmit()">
                    <ng-container *ngIf="!processing else paymentProcessing">
                        Place order
                    </ng-container>
                    <ng-template #paymentProcessing>
                        Place order <fa-icon class="loading-icon" [icon]="faCircleNotch" spinPulse [spin]="true" />
                    </ng-template>
                </button>
                <p *ngIf="orderError" class="error">{{ orderError }} Please try again or contact support: <a
                        [href]="'mailto:' + supportEmail">{{ supportEmail }}</a></p>
            </div>
        </div>
    </div>
</div>
<app-footer />