<div [@cartAnimation]="cartVisible" class="form-container">
    <div class="cart-form">
        <div>
            <div class="header-section">
                <h1>Shopping Cart</h1>
                <span (click)="toggleCart()" class="close">&times;</span>
            </div>
            <div class="cart-section">
                <ng-container *ngIf="loaded">
                    <div *ngFor="let product of cartProducts; let i = index;" class="cart-row">
                        <img [src]="imageUrl + product.image_location">
                        <div class="cart-row-details">
                            <p class="product-name">{{ product.name }}</p>
                            <div class="cart-price-options">
                                <input (change)="changeQuantity($event, product.ID)" type=number [value]="cart[i].quantity">
                                <ng-container *ngIf="product.discount">
                                    <p>£{{ product.retail_price | number: '1.2-2'}}</p>
                                </ng-container>
                                <p>£{{ prices[i] | number: '1.2-2' }}</p>
                            </div>
                            <div class="cart-row-options">
                                <button (click)="removeFromCart(cart[i].productID)">×</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="options-section">
            <div>
                <p>Subtotal:</p>
                <p class="subtotal-value">£{{ subtotal | number: '1.2-2' }}</p>
            </div>
            <button (click)="toggleCart()" [routerLink]="'/checkout'">Checkout</button>
            <button (click)="clearCart()" class="red">Clear cart</button>
        </div>
    </div>
</div>