<div [@cartAnimation]="cartVisible" class="form-container">
    <div class="cart-form">
        <div class="cart-body">
            <div class="header-section">
                <h1>Shopping Cart</h1>
                <span (click)="toggleCart()" class="close">&times;</span>
            </div>
            <div class="cart-section">
                <ng-container *ngIf="loaded">
                    <ng-container *ngIf="cartProducts.length > 0 else cartEmpty">
                        <div *ngFor="let product of cartProducts; let i = index;" class="cart-row">
                            <img [src]="imageUrl + product.image_location">
                            <div class="cart-row-details">
                                <p class="product-name">{{ product.name }}</p>
                                <div class="cart-price-options">
                                    <input (change)="changeQuantity($event, cart[i].productID)" type=number [value]="cart[i].quantity">
                                    <div class="price-container">
                                        <ng-container *ngIf="product.discount != null">
                                            <p class="discounted-price">£{{ product.discounted_total | number: '1.2-2' }}</p>
                                        </ng-container>
                                        <p [class]="product.discount != null ? 'original-price' : 'discounted-price'">£{{ product.total | number: '1.2-2' }}</p>
                                    </div>
                                </div>
                                <div class="cart-row-options">
                                    <button (click)="removeFromCart(cart[i].productID)"><fa-icon [icon]="faX" /></button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #cartEmpty>
                        <div class="cart-empty-container">
                            <p>Your cart is empty!</p>
                        </div>
                    </ng-template>
                </ng-container>
                <div *ngIf="confirmationPopupVisible" class="confirmation-message">
                    <p>Are you sure you want to clear your cart?</p>
                    <div class="clear-button-container">
                        <button class="button" (click)="changeConfirmationPopupState(false)">Cancel</button>
                        <button class="button" (click)="clearCart()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="options-section">
            <div>
                <p>Subtotal:</p>
                <p class="subtotal-value">£{{ subtotal | number: '1.2-2' }}</p>
            </div>
            <button (click)="toggleCart()" [routerLink]="'/checkout'">Checkout</button>
            <button (click)="changeConfirmationPopupState(true)" class="red">Clear cart</button>
        </div>
    </div>
</div>