.form-container {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .cart-form {
        width: 20%;
        height: 100%;
        margin-left: auto;
        background-color: #eeeeee;
        .header-section {
            display: flex;
        }
    }
}