<h3>Your order</h3>
<table class="product-table">
    <ng-container *ngIf="cartProducts">
        <tr>
            <th class="width65">Product</th>
            <th>Subtotal</th>
        </tr>
        <tr *ngFor="let product of cartProducts; let i = index">
            <td class="row-details">
                <div>
                    <img [alt]="product.name" [src]="imageUrl + product.image_location" (error)="onImageError($event)">
                    <p>{{ cart[i].quantity }}</p>
                </div>
                <p>{{ product.name }}</p>
            </td>
            <td class="row-price">
                <p>{{ product.discounted_price | currency: 'GBP' }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="title">Subtotal (inc VAT)</p>
            </td>
            <td>
                <p class="row-price">{{ checkoutSummary.subtotal | currency: 'GBP' }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="title">VAT</p>
            </td>
            <td>
                <p class="row-price">{{ checkoutSummary.vat | currency: 'GBP' }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="title">Delivery</p>
            </td>
            <td *ngIf="checkoutSummary.total < deliveryMinimum; else elseBlock">
                <p class="row-price">£7.50</p>
            </td>
            <td>
                <ng-template #elseBlock>
                    <p class="row-price">--</p>
                </ng-template>
            </td>
        </tr>
        <tr *ngIf="checkoutSummary.discount != null">
            <td>
                <p class="title">{{ checkoutSummary.discount.title }}</p>
            </td>
            <td>
                <p class="row-price">{{ checkoutSummary.discount.value | currency: 'GBP' }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="title">Total</p>
            </td>
            <td>
                <p class="row-price">{{ checkoutSummary.total | currency: 'GBP' }}</p>
            </td>
        </tr>
    </ng-container>
</table>